@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src:
		url(https://fonts.gstatic.com/s/quicksand/v22/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xw.ttf)
		format('truetype');
}

* {
	font-family: 'Quicksand', sans-serif;
}

.choosing-form {
	padding: 0 16px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.choosing-form select, .choosing-form button {
	width: 100%;
	height: 40px;
	border: 1px solid #eee;
	background-color: #fff;
}

.choosing-form button {
	border-radius: 5px;
}

.choosing-form button span {
	float: left;
	padding-left: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.choosing-form button i {
	float: right;
	padding-right: 4px;
	font-size: 18px;
	line-height: 1.3;
}

.choosing-form .submit {
	border: none;
	margin-top: 32px;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: #fff;
	background-color: #45af1f;
}

/* .panel {
    background-color: rgb(161, 161, 161);
  } */
label {
	display: block;
	text-transform: capitalize;
	letter-spacing: 1px;
}

input {
	width: 100%;
	color: var(- -font-color);
	background: var(- -bg-color);
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	padding: 15px 25px;
	border: 1px solid var(- -border-color-light);
	outline: none;
	margin-bottom: 16px;
	border-radius: var(- -border-radius);
}