<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>controller.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServiceServlet</display-name>
    <servlet-name>SearchServiceServlet</servlet-name>
    <servlet-class>controller.SearchServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServiceServlet</servlet-name>
    <url-pattern>/SearchServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetailServiceServlet</display-name>
    <servlet-name>ShowDetailServiceServlet</servlet-name>
    <servlet-class>controller.ShowDetailServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetailServiceServlet</servlet-name>
    <url-pattern>/ShowDetailServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutSessionServlet</display-name>
    <servlet-name>LogoutSessionServlet</servlet-name>
    <servlet-class>controller.LogoutSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSessionServlet</servlet-name>
    <url-pattern>/LogoutSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServlet</display-name>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <servlet-class>controller.DeleteAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServlet</servlet-name>
    <url-pattern>/DeleteAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDataAdminServlet</display-name>
    <servlet-name>ShowDataAdminServlet</servlet-name>
    <servlet-class>controller.ShowDataAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDataAdminServlet</servlet-name>
    <url-pattern>/ShowDataAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceServlet</display-name>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>controller.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewServiceServlet</display-name>
    <servlet-name>AddNewServiceServlet</servlet-name>
    <servlet-class>controller.AddNewServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewServiceServlet</servlet-name>
    <url-pattern>/AddNewServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomepageServlet</display-name>
    <servlet-name>ShowHomepageServlet</servlet-name>
    <servlet-class>controller.ShowHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomepageServlet</servlet-name>
    <url-pattern>/ShowHomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewAccountServlet</display-name>
    <servlet-name>AddNewAccountServlet</servlet-name>
    <servlet-class>controller.AddNewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewAccountServlet</servlet-name>
    <url-pattern>/AddNewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitDataForPaymentServlet</display-name>
    <servlet-name>SubmitDataForPaymentServlet</servlet-name>
    <servlet-class>controller.SubmitDataForPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitDataForPaymentServlet</servlet-name>
    <url-pattern>/SubmitDataForPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VNPaymentServlet</display-name>
    <servlet-name>VNPaymentServlet</servlet-name>
    <servlet-class>controller.VNPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VNPaymentServlet</servlet-name>
    <url-pattern>/VNPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gsonReturnServlet</display-name>
    <servlet-name>gsonReturnServlet</servlet-name>
    <servlet-class>controller.gsonReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gsonReturnServlet</servlet-name>
    <url-pattern>/gsonReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEventOrderServlet</display-name>
    <servlet-name>CreateEventOrderServlet</servlet-name>
    <servlet-class>controller.CreateEventOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEventOrderServlet</servlet-name>
    <url-pattern>/CreateEventOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventOrganizerServlet</display-name>
    <servlet-name>GetEventOrganizerServlet</servlet-name>
    <servlet-class>controller.GetEventOrganizerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventOrganizerServlet</servlet-name>
    <url-pattern>/GetEventOrganizerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllServiceServlet</display-name>
    <servlet-name>ShowAllServiceServlet</servlet-name>
    <servlet-class>controller.ShowAllServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllServiceServlet</servlet-name>
    <url-pattern>/ShowAllServiceServlet</url-pattern>
  </servlet-mapping>
</web-app>